<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Jessie</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into Light&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="./css/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2><div  class="e2_3"></div>
            <div  class="e4_3"></div>
                <div class=e24_5>
            <div  class="e6_4"></div>
                    <span  class="e6_5">Jessie</span>
           </div>
           <div  class="e6_6"></div>
                <span  class="e6_9">Jessie's Shock Rifle shoots energy orbs that bounce between enemies. Her Super deploys a cute but deadly gun turret!</span>
                <div class=e22_4>
                    <div  class="e20_2"></div>
                <span  class="e22_3">Read more</span>
                <a href="https://brawlstars.fandom.com/wiki/Jessie" target="_blank"><img class="e22_3" src="./img/Component 1.pdf" /></a>
            </div>
            </div>
          </body>
          </html>